Klausurbeispiele für JTAB WS09

  <h1>Themen</h1>

  <p>Die verschiedenen Klausur Themen aus der JTAB Vorlesung WS09/10 liegen in im
    <code>package org.nostrapolus.studium</code>.</p>

  <h2>Themen</h2>

  <% SUBJECTS = ['Listener', 'Threads', 'Animationen', 'Beans', 'EJB30'] %>
  <table>
      <tr>
        <th>Thema</th>
        <th>Package des Beispielprojekts</th>
      </tr>
      <% SUBJECTS.each do |subject| %>
      <tr>
          <td><%=subject%></td>
          <td><code><%=subject.downcase%></code></td>
      </tr>
      <% end #SUBJECTS.each %>
  </table>
<!--org.nostrapolus.studium.listeners -> Verwendung von Events, Listeners und Listener-Definition-->
